
.container{
    margin: 40px auto;
    width: 600px;
    height: 500px;
    font-family: sans-serif;
}


.blue{
    background-color: #1E9AB0;
    height: 100px;
    width: 600px;
    margin-bottom: none;
    position: relative;;
}
.profile{
    width: 90px ;
    height: 90px;
    position: absolute;
    top: 50px;
    padding-left: 20px;

}
.main{
    border-bottom: 2px solid;
    border-top: none;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: #E5E5E5 ;
    margin-top: none;
    padding: 20px;

}
#seattle{
    font-size: 25px;
}
.map-marker{
    width: 25px;
    height: 25px;
}
.gear-icon{
    width: 25px;
    height: 25px;
}
#edit-profile{
    color: #0F4D92;
    font-size: 18px;
}