.container{
    width: 950px;
    height: 600px;
    background-color: silver;
    margin: 0px auto;
    padding-top: 10px;
}

.top-nav {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 120px;
    background-color: green;
    box-sizing: border-box;
    
}


.page .main{
    display: inline-block;
    vertical-align: top;

}
.page .side-nav{
    display: inline-block;
}

.main {
    margin: 15px;
    box-sizing: border-box;

    height: 350px;
    width: 600px;
    background-color: red;

}


.side-nav {
    margin: 15px;

    height: 300px;
    width: 150px;
    background-color: blue;
}
.sub-content {
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;

    height: 200px;
    width: 150px;
    background-color: yellow;
}
#advertisement {
    margin: 10px;

    height: 90px;
    width: 520px;
    background-color: purple;
}

